# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
ENV/
.venv/

# =========================
# AWS / local config files (VERY IMPORTANT)
# =========================
.aws/
credentials
config

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# ZIP files (Lambda uploads)
# =========================
*.zip

# =========================
# DynamoDB local / test files (if used)
# =========================
dynamodb_local_latest/

# =========================
# Temporary files
# =========================
tmp/
temp/
